.walleNoHands {
  position: absolute;
  width: 80px;
  bottom: 250px;
  left: 440px;
}

.walleLeftHandDown {
  position: absolute;
  width: 40px;
  bottom: 279px;
  left: 423px;
}

.walleRightHandDown {
  position: absolute;
  width: 40px;
  bottom: 285px;
  left: 490px;
}

.walleLeftHandUp {
    position: absolute;
    width: 40px;
    bottom: 302px;
    left: 420px;
}

.walleRightHandUp {
  position: absolute;
  width: 40px;
  bottom: 305px;
  left: 490px;
}
